h1 {
  color: chocolate;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#learn {
  color: cadetblue;
  text-align: center;
}

.chapter {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
}

/* p.chapter {
  background-color: darkorange;
} */

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2,
p {
  color: red;
}

.button1 {
  /* margin-left: 30px;
  margin-top: 20px; */

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  /* border-radius: 50%; */
  /* border-color: green; */
}

.button2 {
  padding: 4px 20px 4px 20px;
}

div {
  position: relative;
}
.button1 {
  position: absolute;
  z-index: 1;
}
.button2 {
  position: absolute;
  /* z-index: 2; */
  /* left: 100px; */
}